APP_NAME=LexiCore API
APP_ENV=development
API_PREFIX=/api
CORS_ORIGINS=http://localhost:5173
FIREBASE_PROJECT_ID="lexicoreweb"
FIREBASE_STORAGE_BUCKET="lexicoreweb.firebasestorage.app"
FIREBASE_SERVICE_ACCOUNT_PATH=service-account.json
